<ion-footer class="p-t-footer">
  <ion-grid>
    <ion-row>
      <ion-col class="p-t-footer-item">
        <ion-icon name="ios-home-outline"></ion-icon>
        Home
      </ion-col>
      <ion-col class="p-t-footer-item">
        <ion-icon name="ios-clock-outline"></ion-icon>
        History
      </ion-col>
      <ion-col text-center>
        <button ion-button icon-only clear class="p-t-footer-circle">
          <ion-icon name="ios-add-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col madeLink to="Discounts" [params]="{isProfile: true}" class="p-t-footer-item">
        <ion-icon name="ios-pricetag-outline"></ion-icon>
        Pricing
      </ion-col>
      <ion-col class="p-t-footer-item">
        <ion-icon name="ios-contact-outline"></ion-icon>
        Invite
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
