<ion-footer class="u-f-footer">
  <ion-grid>
    <ion-row>
      <ion-col class="u-f-footer-item">
        <ion-icon name="ios-home-outline"></ion-icon>
        Home
      </ion-col>
      <ion-col class="u-f-footer-item">
        <ion-icon name="ios-clock-outline"></ion-icon>
        History
      </ion-col>
      <ion-col [madeLink]="[PageNames.AppointmentAdd]" text-center>
        <button ion-button icon-only clear class="u-f-footer-circle">
          <ion-icon name="ios-add-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col [madeLink]="[PageNames.Discounts, {isProfile: true}]" class="u-f-footer-item">
        <ion-icon name="ios-pricetag-outline"></ion-icon>
        Pricing
      </ion-col>
      <ion-col class="u-f-footer-item">
        <ion-icon name="ios-contact-outline"></ion-icon>
        Invite
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
