<ion-footer class="u-f-footer">
  <ion-grid>
    <ion-row>
      <ion-col class="u-f-footer-item">
        <i class="bb-icon bb-icon-home"></i>
        Home
      </ion-col>
      <ion-col [madeLink]="[PageNames.Worktime, {isProfile: true}]" class="u-f-footer-item">
        <i class="bb-icon bb-icon-history"></i>
        Hours
      </ion-col>
      <ion-col [madeLink]="[PageNames.AppointmentAdd]" text-center>
        <button ion-button icon-only clear class="u-f-footer-circle">
          <i class="bb-icon bb-icon-plus"></i>
        </button>
      </ion-col>
      <ion-col [madeLink]="[PageNames.Discounts, {isProfile: true}]" class="u-f-footer-item">
        <i class="bb-icon bb-icon-pricing"></i>
        Pricing
      </ion-col>
      <ion-col [madeLink]="[PageNames.Profile]" class="u-f-footer-item">
        <i class="bb-icon bb-icon-invite"></i>
        Profile
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
