user-footer {
  .u-f {
    &-footer {
      background: white;
      box-shadow: 0 0 60px 35px color($colors, color7);

      &:before {
        display: none;
      }

      &-item {
        text-align: center;

        .bb-icon {
          display: block;
          margin-bottom: 5px;
          font-size: $t-h1;

          @media ($smartphone) {
            font-size: $t-h2;
          }

          @media ($phone) {
            font-size: $t-h3;
          }
        }
      }

      &-circle {
        position: relative;
        display: inline-block;
        width: 70px;
        height: 70px;
        margin-top: -50px;
        font-size: $t-h2;
        color: color($colors, dark);
        text-align: center;
        cursor: pointer;
        background: rgb(255, 218, 202);
        border-radius: 50%;

        &.activated {
          background: rgb(255, 218, 202);
        }

        @media ($smartphone) {
          width: 60px;
          height: 60px;
          margin-top: -40px;
        }

        @media ($phone) {
          width: 50px;
          height: 50px;
          margin-top: -35px;
        }

        ion-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          font-size: pxtorem(70);
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
