page-service-item {
  .p-si {
    &-btns{
      margin-top: pxtorem(100);

      @media ($smartphone) {
        margin-top: pxtorem(80);
      }
      @media ($phone) {
        margin-top: pxtorem(60);
      }
    }
  }
}
