@font-face {
  font-family: 'SFProDisplay';
  font-weight: 400;
  src: url('../assets/fonts/SFProDisplay_regular/SFProDisplayRegular.eot');
  src: url('../assets/fonts/SFProDisplay_regular/SFProDisplayRegular.eot') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay_regular/SFProDisplayRegular.woff2') format('woff2'),
  url('../assets/fonts/SFProDisplay_regular/SFProDisplayRegular.woff') format('woff'),
  url('../assets/fonts/SFProDisplay_regular/SFProDisplayRegular.ttf') format('truetype'),
  url('../assets/fonts/SFProDisplay_regular/SFProDisplayRegular.svg#SFProDisplayRegular') format('svg');
}
