.bb{
  &-wp{
    max-width: 640px;
    width: 100%;
    margin: 0 auto;

    &-a{
      max-width: 570px;
      width: 100%;
      margin: 0 auto;
    }
  }

  &-btn{
    border-width: 2px;
    border-radius: 7px;
    height: 68px;
    padding: 0 44px;
    font-size: 20px;
    text-transform: unset;

    @media ($phone) {
      font-size: pxtoem(14);
      border-width: 1px;
      height: 30px;
      padding: 0 20px;
    }

    &-circle{
      border-radius: 50%;
      background: none;
      border: 2px solid rgba(181, 149, 191, 0.1);
      padding: 20px;
      width: 174px;
      height: 174px;
      box-shadow: none;
      margin: 0 20px;

      .button-inner{
        background: #000;
        border-radius: 50%;
        width: 79px;
        height: 79px;
        margin: auto;
        font-size: pxtoem(60);
      }
    }

    &-o{
      background: transparent;
      border: none;
    }


    &-a{
      @extend .bb-btn;
      height: 89px;
      font-size: pxtoem(22);

      @media ($phone) {
        height: 40px;
        font-size: pxtoem(18);
      }
    }
  }

  &-bg{
    &-gold{
      background: color($colors, bb_gold);
    }
  }

  &-topcircle{
    &:before{
      content: '';
      position: absolute;
      left: 50%;
      top: -60%;
      width: 2560px;
      height: 2560px;
      background: color($colors, bb_gold);
      transform: translate(-50%, -63%);
      border-radius: 50%;

      @media ($smartphone) {
        top: -100%;
        transform: translate(-50%, -64%);
      }

      @media ($phone) {
        top: -100%;
        transform: translate(-50%, -67%);
      }
    }
  }
}
