profile-info .ProfileInfo {
  .ProfileInfo-pic {
    $pic-size: pxtorem10(51);

    width: $pic-size;
    height: $pic-size;
    margin-right: pxtorem10(16);
    background-size: cover;
    border-radius: 100%;
    box-shadow: 0 2px 16px color($grayscale, 300);
  }

  .ProfileInfo-title {
    margin-bottom: pxtorem10(4);
    font-size: $t-h4;
    font-weight: bold;
    color: color($colors, dark);
  }


  .ProfileInfo-subtitle {
    font-size: $t-base;
    color: color($grayscale, 400);
  }
}
