discounts-change {
  padding-top: 94%;

  .dc{
    height: 100%;
    position: relative;
    background: color($colors, white);
    box-shadow: 0 0 40px #E4E4E4;
    text-align: center;
    overflow-y: scroll;

    &-close{
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
    }

    &-cancel{
      color: color($colors, danger);
    }

    &-scroll{
      text-align: center;
      overflow: hidden;
      padding: pxtorem(80) 0;

      @media ($smartphone) {
        padding: pxtorem(40) 0;
      }

      @media ($phone) {
        padding: pxtorem(20) 0;
      }

      &-info{
        font-size: pxtoem(30);
        color: color($colors, dark);

        @media ($smartphone) {
          font-size: pxtoem(26);
        }
      }

      &-box{
        position: relative;
        margin: pxtorem(55) 0 0;

        @media ($smartphone) {
          margin: pxtorem(20) 0 0;
        }

        &:after{
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 50%;
          right: 50%;
          transform: translateX(-50%);
          width: 4px;
          height: 100%;
          background: #D4A7E1;

          @media ($phone) {
            width: 2px;
          }
        }
      }

      &-wp{
        overflow-x: scroll;
      }

      &-bar{
        height: 120px;
        width: 2000px;
        padding: pxtorem(33) 0;
        white-space: nowrap;

        @media ($smartphone) {
          width: 1400px;
        }

        @media ($phone) {
          padding: pxtorem(20) 0;
          width: 800px;
          height: 70px;
        }

        &-item{
          width: 1px;
          height: 100%;
          display: inline-block;
          margin: 0 2.5%;
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}
