<div (click)="dismiss()" class="dc-close"></div>
<div class="dc">
  <div class="dc-scroll">
    <div class="bb-wp-a">
      <ion-grid class="dc-scroll-info">
        <ion-row>
          <ion-col col-4 text-left>Day</ion-col>
          <ion-col col-4>{{ percentage }}%</ion-col>
          <ion-col col-4 text-right class="inactive">{{ percentage - 10 }}%</ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="dc-scroll-box">
      <div (scroll)="onSwipe()" class="dc-scroll-wp">
        <div #scrollBar class="dc-scroll-bar"></div>
      </div>
    </div>
  </div>

  <div class="bb-wp-a">
    <ion-row justify-content-center align-items-center>
      <a style="visibility: hidden;">Cancel</a>

      <button (click)="save()" ion-button type="submit" class="bb-btn-circle">
        <ion-icon name="ios-checkmark-outline"></ion-icon>
      </button>

      <a (click)="dismiss()" class="dc-cancel">Cancel</a>
    </ion-row>
  </div>
</div>
