made-nav {
  .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: pxtorem10(25);

    @media ($smartphone) {
      margin-bottom: pxtorem10(20);
    }

    @media ($phone) {
      margin-bottom: pxtorem10(15);
    }

    &-item {
      flex: 1;
      overflow: hidden;
      white-space: nowrap;

      &-el {
        display: inline-block;
        vertical-align: middle;

        &-dot {
          position: relative;
          display: inline-block;
          width: 10px;
          height: 10px;
          margin: 0 5px;
          vertical-align: middle;
          background: color($colors, bb_skin);
          border: 1px solid transparent;
          border-radius: 50%;

          @media ($smartphone) {
            width: 8px;
            height: 8px;
            margin: 0 8px;
          }

          @media ($phone) {
            width: 6px;
            height: 6px;
            margin: 0 6px;
          }

          &.white {
            background: color($colors, white);
            border-color: rgba(0, 0, 0, 0.2);
          }

          &.plus:after {
            position: absolute;
            top: 50%;
            left: 50%;
            display: inline-block;
            font-family: "Ionicons", sans-serif;
            font-size: $t-base;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            line-height: 1;
            color: color($colors, color5);
            speak: none;
            text-transform: none;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\f102";
            transform: translate(-50%, -50%);
          }
        }

        &-line {
          display: inline-block;
          width: 90px;
          height: 1px;
          margin: 0 5px;
          vertical-align: middle;
          background: color($colors, bb_skin);

          @media ($smartphone) {
            width: pxtorem10(50);
            margin: 0 4px;
          }

          @media ($phone) {
            width: pxtorem10(30);
            margin: 0 3px;
          }
        }
      }

      &.right {
        direction: rtl;
      }
    }

    &-active {
      margin: 0 10px;
      font-size: $t-h3;

      @media ($smartphone) {
        margin: 0 8px;
        font-size: $t-h4;
      }

      @media ($phone) {
        margin: 0 6px;
        font-size: $t-base;
      }
    }
  }
}

