pop-confirm-checkout {
  .Checkout-title {
    margin: pxtorem10(15) 0 pxtorem10(40);
    font-size: pxtorem10(42);
    text-align: center;
    color: color($colors, dark);

    @media ($phone) {
      font-size: pxtorem10(24);
    }

    &.small {
      margin: pxtorem10(40) 0 0;
      font-size: pxtorem10(24);
      text-align: center;
      color: color($colors, color14);

      @media ($phone) {
        font-size: pxtorem10(18);
      }
    }
  }

  .Checkout-rate {
    margin: 0 0 pxtorem10(15);
    font-size: pxtorem10(24);
    text-align: center;
    color: color($colors, color15);

    @media ($phone) {
      font-size: pxtorem10(18);
    }
  }

  .Checkout-buttons {
    margin: 0 0 pxtorem10(40);
    text-align: center;
  }
}
