<ion-header class="ion-bb-header">
  <ion-navbar>
  </ion-navbar>
</ion-header>


<ion-content padding class="bb-bg-orange">
  <div class="tac">
    <button ion-button type="submit" class="bb-btn-circle big white">
      <i class="bb-icon bb-icon-accept-button"></i>
    </button>
  </div>

  <div class="Checkout-title small">Congratulations</div>

  <div class="Checkout-title">Checkout complete</div>

  <!-- We don't have ratings yet, so close this section until they are implemented
  <div class="Checkout-rate">Rate Anastasia</div>

  <div class="Checkout-buttons">
    <button class="Checkout-vote dib" color="white" ion-fab>
      <i class="bb-icon bb-icon-vote-up"></i>
    </button>
    <button class="Checkout-vote dib" color="bb_honey" outline ion-fab>
      <i class="bb-icon bb-icon-vote-down"></i>
    </button>
  </div>
  -->

  <div class="tac">
    <button (click)="navCtrl.pop()" col-6 ion-button color="white" class="bb-btn-a">OK</button>
  </div>
</ion-content>
