option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/opt/python/current/app/betterbeauty:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: betterbeauty/core/wsgi.py

files:
    "/etc/httpd/conf.d/wsgi_custom.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            WSGIPassAuthorization On

            LoadModule deflate_module modules/mod_deflate.so

            SetOutputFilter DEFLATE

            # mod_deflate configuration
            <IfModule mod_deflate.c>
                # Restrict compression to these MIME types
                AddOutputFilterByType DEFLATE text/plain
                AddOutputFilterByType DEFLATE text/html
                AddOutputFilterByType DEFLATE text/javascript
                AddOutputFilterByType DEFLATE text/css
                AddOutputFilterByType DEFLATE application/json
                <IfModule mod_headers.c>
                    # Make sure proxies don't deliver the wrong content
                    Header append Vary User-Agent env=!dont-vary
                </IfModule>
            </IfModule>

container_commands:
    01_migrate:
        command: "source /opt/python/run/venv/bin/activate && source /opt/python/current/env && python betterbeauty/manage.py migrate"
        leader_only: true
    02_collect_static:
        command: "source /opt/python/run/venv/bin/activate && source /opt/python/current/env && python betterbeauty/manage.py collectstatic --noinput"

