{% extends 'email/notification/base.html' %}
{% block body %}
    <p>Hundreds of Top-Rated stylists are already taking bookings on MadeBeauty. But we understand that when you love your stylist, you want to remain loyal!</p>
    <br>
    <p>Problem solved, invite your stylist to create a profile on MadeBeauty! Simple click search and invite your stylist. We will send an invitation to your favorite stylist letting them know the great benefits of using the service!</p>
    <br>
    <p>Get to inviting now!!</p>
{% endblock %}