<ion-header class="ion-bb-header" madeUserHeader [hasBackButton]="true"></ion-header>

<ion-content padding>
  <div class="bb-wp-a">
    <div *ngIf="appointment" class="p-c-top">
      <div class="p-c-top-time">
        {{ appointment.datetime_start_at | date: 'h:mmaaaaa' }}
      </div>

      <div class="p-c-top-user">
        <div [style.backgroundImage]="'url()'" class="p-c-top-user-ava"></div>
        <div class="p-c-top-user-name">
          {{ appointment.client_first_name }}
          {{ appointment.client_last_name }}
        </div>
      </div>
    </div>

    <div *ngIf="previewResponse" class="p-c-box">
      <div class="p-c-box-title">Your total price is</div>


      <div no-padding class="p-c-box-price">
        <div class="p-c-box-price-sign">$</div>
        <div class="p-c-box-price-num">{{ previewResponse.grand_total.toFixed() }}</div>
      </div>


      <ion-grid *ngIf="previewResponse" no-padding class="p-c-box-change">
        <ion-row>
          <ion-col col-4>
            <div class="p-c-box-change-title">Price before tax</div>
            <div class="p-c-box-change-num">
              <span class="p-c-box-change-num-regular-price">${{ subTotalRegularPrice.toFixed() }}</span>
              &nbsp;
              ${{ previewResponse.total_client_price_before_tax.toFixed() }}
            </div>
          </ion-col>
          <ion-col col-4>
            <div class="p-c-box-change-title">Tax incl.</div>
            <div class="p-c-box-change-num">
              ${{ previewResponse.total_tax.toFixed(2) }}
              <ion-toggle (ionChange)="updatePreview()" [(ngModel)]="hasTaxIncluded" class="ion-bb-toggle"></ion-toggle>
            </div>
          </ion-col>
          <ion-col col-4>
            <div class="p-c-box-change-title">Card fee</div>
            <div class="p-c-box-change-num">
              ${{ previewResponse.total_card_fee.toFixed(2) }}
              <ion-toggle (ionChange)="updatePreview()" [(ngModel)]="hasCardFeeIncluded" class="ion-bb-toggle"></ion-toggle>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>


      <div *ngIf="previewResponse.services.length > 0">
        <ion-grid no-padding no-margin class="p-c-box-service">
          <ion-row no-border>
            <ion-col col-7>
              <div class="p-c-box-service-title">Service</div>
            </ion-col>
            <ion-col col-5>
              <div class="p-c-box-service-title">Price</div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid no-padding class="p-c-box-service withmargin">
          <ion-row *ngFor="let service of previewResponse.services; let index = index;">
            <ion-col col-7>
              <div class="p-c-box-service-text">{{ service.service_name }}</div>
            </ion-col>
            <ion-col col-4>
              <div class="p-c-box-service-text">
                ${{ service.client_price }}
              </div>
            </ion-col>
            <ion-col col-1>
              <div class="p-c-box-service-text">
                <ion-icon *ngIf="previewResponse.services.length > 1" (click)="removeServiceClick(service)" name="trash"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>


      <button (click)="addServicesClick()" col-6 ion-button outline color="bb_violet" class="bb-btn-a">Add service</button>
    </div>

    <div class="p-c-fin">
      <button (click)="finalizeCheckoutClick()" col-6 ion-button color="bb_honey" class="bb-btn-a black">Finalize checkout</button>
    </div>
  </div>
</ion-content>
