// TODO: move all buttons to some _buttons.scss
.Button {
  padding: pxtorem10(18) pxtorem10(47);
  margin: 0; // reset .button-ios margins
  font-size: $t-base;
  color: color($colors, dark);
  text-transform: none;
  white-space: nowrap;
  background-color: color($colors, bb_skin);
  border-radius: 5px;
  box-shadow: none;
  transition: all 0.2s ease-in;

  &.Button--link {
    color: darken(color($colors, bb_skin), 7%);
    background-color: transparent;
  }

  &.Button--small {
    padding: pxtorem10(13) pxtorem10(28);
  }

  &.Button--icon {
    $height: pxtorem10(20);

    height: $height;
    padding: 0 pxtorem10(14);
    line-height: $height;
    text-align: center;
    border-radius: 10px;
  }

  // ionic’s button :focus state
  &.activated {
    // TODO: come up with some nicer effect
    color: color($colors, dark);
    background-color: darken(color($colors, bb_skin), 5%);
  }
}

page-profile {
  .Profile-grid {
    padding-bottom: pxtorem10(43);
  }

  .Profile-header {
    padding: pxtorem10(46) 0 0;
    margin-bottom: pxtorem10(24);

    &.is-bordered {
      border-bottom: 1px solid color($grayscale, 200);
    }

    &.is-bottomOffset {
      padding-bottom: pxtorem10(26);
    }

    .Button {
      margin-left: pxtorem10(6);
    }
  }

  .Profile-title {
    font-size: $t-h3;

    sup {
      font-size: $t-small;
      color: color($grayscale, 400);
    }
  }

  .Profile-galleryPic {
    width: pxtorem10(93.5);
    height: pxtorem10(108.5);
    margin-right: pxtorem10(20);
    background-size: cover;
    border-radius: pxtorem10(15);
  }

  .Profile-tableSummary {
    padding-bottom: pxtorem10(30);
    margin-right: pxtorem10(23.5);
    font-size: $t-base;
    font-weight: normal;
    color: color($grayscale, 400);

    strong {
      font-size: $t-h1;
      font-weight: bold;
      color: color($colors, dark);
    }
    span {
      display: inline-block;
      margin-right: 20px;
    }
    span:last-child {
      margin-right: 0px;
    }
  }

  .Table {
    .Table-header .Table-col {
      white-space: nowrap;
    }
  }

  .Profile-services .Table {
    .Table-col:first-child {
      width: 100%; // shift all cols after the first one to right
    }

    .Table-col:last-child { // prices
      text-align: right;
      padding-right: 8px;
    }
  }

  .Profile-worktime .Table {
    .Table-col:last-child { // appointments count
      text-align: right;
      padding-right: 8px;
    }
  }

  .Button.Button--offset {
    margin-top: 32px;
  }
}
