// rewrite ionic def style
ion-app.md, ion-app.ios, ion-app.wp{
  font-family: 'Arial', sans-serif;
  font-size: 16px;

  @media ($tablet) {
    font-size: 14px;
  }
  @media ($smartphone) {
    font-size: 12px;
  }
  @media ($phone) {
    font-size: 10px;
  }
}
button[color="bb_violet"]{
  color: #000;
}
ion-header ion-icon.back-button-icon.icon {
  color: map-get($colors, dark);
}
.range-md{
  .range-knob{
    transform: scale(1.8);
    background: #ffffff;

    @media ($phone) {
      transform: scale(1);
    }
  }
  [range-right] {
    margin: 0 0 0 30px;
  }
}


.ion-bb{
  &-header{
    .toolbar-background{
      border-color: transparent;
      background: none;
    }

    &:after{display: none;}
  }

  &-input{
    margin: 20px 0;

    &-prefix{
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      font-size: pxtoem(20);
    }


    &.item-block{
      background: transparent;
    }

    ion-input {
      font-size: 1.6rem;
    }

    ion-label{
      text-align: center;
      font-size: 1.5rem !important;
      color: color($colors, dark) !important;
      margin: 0;
    }

    .text-center, .select-text, .text-input {
      text-align: center;
    }

    .select{
      padding-right: 0;
      &-icon {
        position: absolute;
        right: 8px;
        bottom: 6px;
      }
    }
  }

  &-showback{
    .back-button {
      display: block !important;
    }
  }

  &-sliding{
    ion-label{
      margin: 0;
    }
    ion-item-sliding{
      padding: 0 !important;
      border: none !important;
    }
    .item-inner{
      border: none !important;
      padding: 0 !important;
    }
    .item-block{
      padding: 0 !important;
    }
  }

}

