page-today {
  // p = page
  // -asd = first letter of each word (in this case just -t)
  .p-t{
    &-nav{
      &-title{
        .toolbar-title{
          font-size: pxtorem(53);
          padding: 0;

          @media ($smartphone) {
            font-size: pxtorem(40);
            padding: 0 12px;
          }
          @media ($phone) {
            font-size: pxtorem(26);
            padding: 0 10px;
          }
        }

        &-sub{
          display: block;
          font-size: pxtorem(40);
          color: rgba(0, 0, 0, 0.4);

          @media ($smartphone) {
            font-size: pxtorem(30);
          }
          @media ($phone) {
            font-size: pxtorem(20);
          }
        }
      }

      &-btns{
        &-user{
          display: inline-block;
          vertical-align: middle;
          font-size: pxtorem(40);
          background: transparent;

          width: 90px;
          height: 90px;
          border-radius: 50%;
          background-size: cover !important;
          background-repeat: no-repeat;
          background-position: center;

          @media ($smartphone) {
            width: 80px;
            height: 80px;
          }
          @media ($phone) {
            width: 50px;
            height: 50px;
          }



          &.hasAva{
            border: 1px solid #A4B6C0;
          }
        }

        &-del{
          display: inline-block;
          vertical-align: middle;
          width: 1px;
          height: 60px;
          background: #A4B6C0;
          margin: 0 pxtoem(10) auto;

          @media ($smartphone) {
            margin: 0 pxtoem(20) auto;
            height: 50px;
          }
          @media ($phone) {
            margin: 0 pxtoem(10) auto;
            height: 30px;
          }
        }

        &-menu{
          display: inline-block;
          vertical-align: middle;
          color: #FBC69C;
          font-size: pxtorem(50);

          @media ($smartphone) {
            font-size: pxtorem(40);
          }
          @media ($phone) {
            font-size: pxtorem(30);
            margin: 0;
          }
        }
      }
    }

    &-top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: pxtorem(110);

      @media ($smartphone) {
        margin-bottom: pxtorem(70);
      }
      @media ($phone) {
        margin-top: pxtorem(-20);
        margin-bottom: pxtorem(30);
      }

      &-info{
        font-size: pxtorem(35);
        color: rgba(0, 0, 0, 0.5);

        @media ($smartphone) {
          font-size: pxtorem(26);
        }
        @media ($phone) {
          font-size: pxtorem(17);
        }


        span{
          color: #000000;
        }
      }

      &-stats{
        &-a, &-b{
          font-size: pxtorem(30);

          @media ($smartphone) {
            font-size: pxtorem(24);
          }
          @media ($phone) {
            font-size: pxtorem(16);
          }

          ion-icon{
            font-size: pxtorem(60);
            color: #FF6161;
            box-shadow: 0 0 0 0 #FF6161;
            padding: 0 pxtorem(15);

            @media ($smartphone) {
              font-size: pxtorem(50);
            }
            @media ($phone) {
              font-size: pxtorem(32);
            }
          }

        }
        &-b{
          ion-icon{
            color: #FFD737;
            box-shadow: 0 0 0 0 #FFD737;
          }
        }
      }
    }

    &-appo{
      font-size: pxtorem(73);
      margin-bottom: pxtorem(75);

      @media ($smartphone) {
        font-size: pxtorem(60);
        margin-bottom: pxtorem(52);
      }
      @media ($phone) {
        font-size: pxtorem(38);
        margin-bottom: pxtorem(35);
      }

      &-info{
        display: inline-block;
        vertical-align: middle;
        font-size: pxtorem(36);
        margin-left: pxtorem(15);
        background: #FBC79C;
        border-radius: 20px;
        padding: 10px 20px;
        color: #fff;

        @media ($smartphone) {
          font-size: pxtorem(28);
          padding: 8px 16px;
        }
        @media ($phone) {
          font-size: pxtorem(18);
          padding: 4px 10px;
        }
      }
    }

    &-history{
      display: flex;
      justify-content: space-between;
      margin-bottom: pxtorem(80);

      @media ($smartphone) {
        margin-bottom: pxtorem(60);
      }
      @media ($phone) {
        margin-bottom: pxtorem(40);
      }

      &-item{
        text-align: left;
        width: 50%;
        height: auto;

        .button-inner{
          font-size: pxtorem(34);
          color: rgba(0, 0, 0, 0.5);
          display: block;
          text-transform: none;

          @media ($smartphone) {
            font-size: pxtorem(28);
          }
          @media ($phone) {
            font-size: pxtorem(20);
          }
        }

        &-num{
          font-size: pxtorem(50);
          margin-top: pxtorem(36);
          display: block;
          color: #000;

          @media ($smartphone) {
            font-size: pxtorem(38);
            margin-top: pxtorem(20);
          }
          @media ($phone) {
            font-size: pxtorem(24);
            margin-top: pxtorem(10);
          }
        }

        &:nth-child(even){
          padding: 0 0 0 pxtorem(100) !important;
          border-left: 1px solid #707070;

          @media ($smartphone) {
            padding: 0 0 0 pxtorem(70) !important;
          }
          @media ($phone) {
            padding: 0 0 0 pxtorem(40) !important;
          }
        }
      }
    }

    &-items{
      margin-bottom: pxtorem(110);

      @media ($smartphone) {
        margin-bottom: pxtorem(85);
      }
      @media ($phone) {
        margin-bottom: pxtorem(48);
      }

      &-item{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background: #F9F8FE;
        border-radius: 15px;
        padding: pxtoem(30) pxtorem(60);
        margin-bottom: pxtorem(55);

        @media ($smartphone) {
          margin-bottom: pxtorem(40);
        }
        @media ($phone) {
          padding: pxtoem(20) pxtorem(35);
          margin-bottom: pxtorem(20);
        }

        &-info{
          font-size: pxtorem(120);

          @media ($smartphone) {
            font-size: pxtorem(90);
          }
          @media ($phone) {
            font-size: pxtorem(58);
          }

          &-desc{
            margin-top: pxtorem(5);
            font-size: pxtorem(38);
            color: #A6A3B0;

            @media ($smartphone) {
              font-size: pxtorem(30);
            }
            @media ($phone) {
              margin-top: 0;
              font-size: pxtorem(20);
            }
          }
        }

        &-name{
          padding-top: pxtorem(25);
          font-size: pxtorem(36);
          color: #A6A3B0;

          @media ($smartphone) {
            padding-top: pxtorem(18);
            font-size: pxtorem(28);
          }
          @media ($phone) {
            padding-top: pxtorem(10);
            font-size: pxtorem(18);
          }

          &-ava{
            width: 33px;
            height: 33px;
            border-radius: 50%;
            background-size: cover !important;
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            vertical-align: middle;
            margin-right: pxtorem(20);
            margin-top: -5px;

            @media ($smartphone) {
              margin-right: pxtorem(15);
              width: 25px;
              height: 25px;
            }
            @media ($phone) {
              margin-right: pxtorem(7);
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }

    &-btns{
      text-align: center;
      margin-bottom: pxtorem(100);

      @media ($smartphone) {
        margin-bottom: pxtorem(76);
      }
      @media ($phone) {
        margin-bottom: pxtorem(40);
      }

      &-btn{
        padding: 0 pxtorem(50) !important;
        font-size: pxtorem(38);
        height: 90px;
        border-radius: 10px;
        text-transform: none;
        background: rgba(152,62,255,1);
        background: -moz-linear-gradient(left, rgba(152,62,255,1) 0%, rgba(135,30,255,1) 100%);
        background: -webkit-linear-gradient(left, rgba(152,62,255,1) 0%, rgba(135,30,255,1) 100%);
        background: -o-linear-gradient(left, rgba(152,62,255,1) 0%, rgba(135,30,255,1) 100%);
        background: -ms-linear-gradient(left, rgba(152,62,255,1) 0%, rgba(135,30,255,1) 100%);
        background: linear-gradient(to right, rgba(152,62,255,1) 0%, rgba(135,30,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#983eff', endColorstr='#871eff', GradientType=1 );


        @media ($smartphone) {
          padding: 0 pxtorem(40) !important;
          font-size: pxtorem(30);
          height: 65px;
          border-radius: 7px;
        }
        @media ($phone) {
          padding: 0 pxtorem(20) !important;
          font-size: pxtorem(18);
          height: 40px;
          border-radius: 5px;
        }


        &-plus{
          margin-left: pxtorem(110);
          font-size: pxtorem(58);
          padding: 0 !important;
          color: #000;
          font-weight: 700;

          @media ($smartphone) {
            margin-left: pxtorem(70);
            font-size: pxtorem(46);
          }
          @media ($phone) {
            margin-left: pxtorem(40);
            font-size: pxtorem(30);
          }
        }
      }

      &-text{
        font-size: pxtorem(38);
        text-transform: none;
        padding: 0 pxtorem(50) !important;
        color: #9896A1;

        @media ($smartphone) {
          font-size: pxtorem(30);
          padding: 0 pxtorem(30) !important;
        }
        @media ($phone) {
          font-size: pxtorem(20);
          padding: 0 pxtorem(20) !important;
        }
      }
    }

    &-bot{
      &-item{
        padding: pxtorem(40);
        color: #000;
        border-radius: 20px;
        border: 2px solid #A5A0B2;

        @media ($smartphone) {
          padding: pxtorem(30);
        }
        @media ($phone) {
          padding: pxtorem(20);
        }

        &.gold{
          color: #fff;
          border: 2px solid transparent;
          background: rgba(255,216,184,1);
          background: -moz-linear-gradient(left, rgba(255,216,184,1) 0%, rgba(251,198,155,1) 100%);
          background: -webkit-linear-gradient(left, rgba(255,216,184,1) 0%, rgba(251,198,155,1) 100%);
          background: -o-linear-gradient(left, rgba(255,216,184,1) 0%, rgba(251,198,155,1) 100%);
          background: -ms-linear-gradient(left, rgba(255,216,184,1) 0%, rgba(251,198,155,1) 100%);
          background: linear-gradient(to right, rgba(255,216,184,1) 0%, rgba(251,198,155,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd8b8', endColorstr='#fbc69b', GradientType=1 );

          ion-icon{
            color: #6F5947;
            font-size: pxtorem(50);

            @media ($smartphone) {
              font-size: pxtorem(40);
            }
            @media ($phone) {
              font-size: pxtorem(30);
            }
          }
        }

        &-top{
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: pxtorem(30);

          @media ($smartphone) {
            font-size: pxtorem(25);
          }
          @media ($phone) {
            font-size: pxtorem(20);
          }
        }

        &-bot{
          text-align: right;
          padding-top: pxtorem(80);
          font-size: pxtorem(80);

          @media ($smartphone) {
            padding-top: pxtorem(50);
            font-size: pxtorem(65);
          }
          @media ($phone) {
            padding-top: pxtorem(30);
            font-size: pxtorem(50);
          }
        }
      }
    }
  }
}
