page-today {
  // p = page
  // -asd = first letter of each word (in this case just -t)
  .p-t{
    &-blur{
      filter: blur(3px);
    }

    &-top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: pxtorem(50);
      margin-bottom: pxtorem(65);

      @media ($smartphone) {
        margin-top: pxtorem(20);
        margin-bottom: pxtorem(50);
      }
      @media ($phone) {
        margin-top: pxtorem(-20);
        margin-bottom: pxtorem(40);
      }

      &-info{
        font-size: pxtorem(29);
        color: rgba(0, 0, 0, 0.5);

        @media ($smartphone) {
          font-size: pxtorem(24);
        }
        @media ($phone) {
          font-size: pxtorem(18);
        }

        &-progress{
          margin-top: pxtorem(25);
          max-width: pxtorem(250);
          height: 5px;
          border-radius: 1px;
          position: relative;
          background: color($colors, color1);
          overflow: hidden;

          &-line{
            background: color($colors, color2);
            height: 100%;
          }
        }

        span{
          color: color($colors, dark);
        }
      }

      &-stats{
        &-a, &-b{
          font-size: pxtorem(30);

          @media ($smartphone) {
            font-size: pxtorem(24);
          }
          @media ($phone) {
            font-size: pxtorem(16);
          }

          ion-icon{
            font-size: pxtorem(60);
            color: color($colors, bb_warn);
            box-shadow: 0 0 0 0 color($colors, bb_warn);
            padding: 0 pxtorem(15);

            @media ($smartphone) {
              font-size: pxtorem(50);
            }
            @media ($phone) {
              font-size: pxtorem(32);
            }
          }

        }
        &-b{
          ion-icon{
            color: color($colors, color3);
            box-shadow: 0 0 0 0 color($colors, color3);
          }
        }
      }
    }

    &-up{
      font-size: pxtorem(69);
      margin-bottom: pxtorem(60);

      @media ($smartphone) {
        font-size: pxtorem(60);
        margin-bottom: pxtorem(50);
      }
      @media ($phone) {
        font-size: pxtorem(38);
        margin-bottom: pxtorem(30);
      }

      &-info{
        display: inline-block;
        vertical-align: middle;
        font-size: pxtorem(36);
        margin-left: pxtorem(15);
        background: color($colors, color4);
        border-radius: 20px;
        padding: 10px 20px;
        color: color($colors, color5);

        @media ($smartphone) {
          font-size: pxtorem(28);
          padding: 8px 16px;
        }
        @media ($phone) {
          font-size: pxtorem(18);
          padding: 4px 10px;
        }
      }

      &-refresh{
        font-size: pxtorem(36);

        @media ($smartphone) {
          font-size: pxtorem(28);
        }
        @media ($phone) {
          font-size: pxtorem(18);
        }
      }
    }

    &-history{
      display: flex;
      justify-content: space-between;
      margin-bottom: pxtorem(95);

      @media ($smartphone) {
        margin-bottom: pxtorem(60);
      }
      @media ($phone) {
        margin-bottom: pxtorem(40);
      }

      &-item{
        text-align: left;
        width: 50%;
        height: auto;
        border-radius: 0px;

        .button-inner{
          font-size: pxtorem(34);
          color: rgba(0, 0, 0, 0.5);
          display: block;
          text-transform: none;

          @media ($smartphone) {
            font-size: pxtorem(28);
          }
          @media ($phone) {
            font-size: pxtorem(20);
          }
        }

        &-num{
          font-size: pxtorem(44);
          margin-top: pxtorem(26);
          display: block;
          color: color($colors, dark);

          @media ($smartphone) {
            font-size: pxtorem(38);
            margin-top: pxtorem(20);
          }
          @media ($phone) {
            font-size: pxtorem(24);
            margin-top: pxtorem(10);
          }
        }

        &:not(:first-child){
          padding: 0 0 0 pxtorem(65) !important;
          border-left: 1px solid color($colors, color6);

          @media ($smartphone) {
            padding: 0 0 0 pxtorem(45) !important;
          }
          @media ($phone) {
            padding: 0 0 0 pxtorem(20) !important;
          }
        }
      }
    }

    &-items{
      margin-bottom: pxtorem(180);

      @media ($smartphone) {
        margin-bottom: pxtorem(120);
      }
      @media ($phone) {
        margin-bottom: pxtorem(80);
      }

      &-null{
        text-align: center;
        font-size: pxtorem10(40);

        @media ($smartphone) {
          font-size: pxtorem10(30);
        }
        @media ($phone) {
          font-size: pxtorem10(20);
        }
      }

      &-item{
        position: relative;
        background: color($colors, white);
        border-radius: 20px;
        margin-bottom: pxtorem(70);
        box-shadow: 0 0 50px 15px color($colors, color7);

        @media ($smartphone) {
          margin-bottom: pxtorem(55);
        }
        @media ($phone) {
          margin-bottom: pxtorem(40);
        }

        &-wp{
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          padding: pxtoem(33) pxtorem(60);

          @media ($smartphone) {
            padding: pxtoem(30) pxtorem(35);
          }
          @media ($phone) {
            padding: pxtoem(20) pxtorem(35);
          }

          &.isChecked{
            visibility: hidden;
          }
        }

        &-status{
          position: absolute;
          z-index: 2;
          left: 7%;
          top: -15px;
          padding: pxtorem(10);
          color: color($colors, white);
          border-radius: 6px;

          &.tag-notcheckedout {
            background: #ff3333;
          }
          &.tag-now {
            background: color($colors, color8);
          }
          &.tag-next {
            background: #b2d6ff;
          }
        }

        &-info{
          &-time{
            font-size: pxtorem(80);
            white-space: nowrap;

            @media ($smartphone) {
              font-size: pxtorem(60);
            }
            @media ($phone) {
              font-size: pxtorem(40);
            }

            &-sup{
              display: inline-block;
              top: pxtorem(-30);
              margin-left: pxtorem(5);
              font-size: pxtorem(34);
              color: color($colors, color9);

              @media ($smartphone) {
                font-size: pxtorem(26);
                margin-left: 0;
                top: pxtorem(-25);
              }
              @media ($phone) {
                font-size: pxtorem(18);
                top: pxtorem(-15);
              }
            }
          }

          &-desc{
            margin-top: pxtorem(10);
            font-size: pxtorem(44);
            color: color($colors, color9);

            @media ($smartphone) {
              font-size: pxtorem(30);
            }
            @media ($phone) {
              margin-top: 0;
              font-size: pxtorem(20);
            }
          }
        }

        &-name{
          padding-top: pxtorem(10);
          font-size: pxtorem(34);
          color: color($colors, color9);
          text-align: right;

          @media ($smartphone) {
            padding-top: pxtorem(8);
            font-size: pxtorem(28);
          }
          @media ($phone) {
            padding-top: pxtorem(6);
            font-size: pxtorem(18);
          }

          &-ava{
            width: 33px;
            height: 33px;
            border-radius: 50%;
            background-size: cover !important;
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            vertical-align: middle;
            margin-right: pxtorem(20);
            margin-top: -5px;

            @media ($smartphone) {
              margin-right: pxtorem(15);
              width: 25px;
              height: 25px;
            }
            @media ($phone) {
              margin-right: pxtorem(7);
              width: 16px;
              height: 16px;
            }
          }
        }

        &-btns{
          position: absolute;
          z-index: 2;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          display: flex;
          justify-content: space-between;
          align-content: center;
          align-items: center;
          padding: 0 pxtoem(40);
        }
      }
    }

    &-footer{
      box-shadow: 0 0 50px 15px color($colors, color7);

      &:before{
        display: none;
      }

      &-item{
        text-align: center;

        ion-icon{
          font-size: pxtorem(60);
          display: block;

          @media ($smartphone) {
            font-size: pxtorem(50);
          }
          @media ($phone) {
            font-size: pxtorem(40);
          }
        }
      }

      &-circle{
        position: relative;
        width: 70px;
        height: 70px;
        cursor: pointer;
        border-radius: 50%;
        background: rgb(255, 218, 202);
        text-align: center;
        color: color($colors, dark);
        margin-top: -50px;
        display: inline-block;

        @media ($smartphone) {
          width: 60px;
          height: 60px;
          margin-top: -40px;
        }
        @media ($phone) {
          width: 50px;
          height: 50px;
          margin-top: -35px;
        }

        ion-icon{
          font-size: pxtorem(70);
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
