<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Today</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>
    Appointments for Today
  </h3>

  <ion-list *ngIf="today">
    <ion-item *ngFor="let app of today.appointments">
      {{ app.client_name }}
      <button ion-button (click)='checkin(app.appointmentUuid)'>Check In</button>
    </ion-item>
  </ion-list>

  <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>
