page-first-screen {
  // p = page
  // -fs = first letter of each word (in this case just -fs)
  .p-fs {
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;

    &-bg{
      background: color($colors, color4);
    }

    &-img{
      position: absolute;
      left: 0;
      top: -16px; // - .scroll-content padding
      right: 0;
      max-height: 440px;

      &-text{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        text-align: center;
        color: white;
        padding-top: pxtorem(60);
        font-size: pxtoem(24);
      }

      img{
        width: 150%;
      }
    }

    &-title{
      font-size: pxtoem(24);
    }

    &-box{
      padding-bottom: 15px;

      &-buttons{
        max-width: 380px;
        margin: pxtorem(45) auto pxtorem(55);

        @media ($tablet) {
          max-width: 340px;
          margin: pxtorem(45) auto;
        }
        @media ($smartphone) {
          max-width: 290px;
          margin: pxtorem(45) auto;
        }
        @media ($phone) {
          max-width: 240px;
          margin: pxtorem(45) auto pxtorem(30);
        }

        button{
          margin: pxtorem(15) 0;
        }
      }
    }
  }
}
