<ion-header class="ion-bb-header">
  <ion-navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <made-nav [activePage]="PageNames.RegisterServices"></made-nav>

  <div class="p-s-def p-s-wp">
    <div class="p-s-def-title">Now let’s set your services</div>
    <div class="p-s-def-title-a">Just click, we got what you need</div>

    <div class="p-s-def-box">
      <div *ngFor="let item of serviceTemplateSets; let odd = odd"
           (click)="openService(item)"
           [style.backgroundImage]="odd ? blackImage : whiteImage"
           class="p-s-def-box-item">
        <div class="p-s-def-box-item-footer">
          <div class="p-s-def-box-item-footer-title">
            {{ item.name }}
          </div>
        </div>
      </div>
    </div>

    <div class="p-s-list">
      <div class="p-s-list-empty">
        <div class="p-s-list-empty-text">Let me do it, I run this like cardio</div>

        <button (click)="openService()" ion-button color="white" class="bb-btn">Start from scratch</button>
      </div>
    </div>
  </div>
</ion-content>
