<ion-header class="ion-bb-header">
  <ion-navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <bb-nav [activePageIndex]="1"></bb-nav>

  <div class="p-s-def p-s-wp">
    <div class="p-s-def-title">Now let’s set your services</div>
    <div class="p-s-def-title-a">Just click, we got what you need</div>

    <div class="p-s-def-box">
      <div *ngFor="let item of serviceTemplates; let odd = odd"
           (click)="openService(item)"
           [style.backgroundImage]="item.image_url"
           [class.violet]="odd"
           class="p-s-def-box-item">
        <i *ngIf="!odd" class="bb-icon-black p-s-def-box-item-icon"></i>
        <i *ngIf="odd" class="bb-icon-white p-s-def-box-item-icon"></i>

        <div [innerHtml]="item.name" class="p-s-def-box-item-text"></div>
      </div>
    </div>

    <div class="p-s-list">
      <div class="p-s-list-empty">
        <i class="bb-icon-services p-s-list-empty-icon"></i>
        <div class="p-s-list-empty-text">Let me do it, I run this like cardio</div>

        <button ion-button outline color="bb_violet" class="bb-btn">Start from scratch</button>
      </div>
    </div>
  </div>
</ion-content>
