<ion-navbar [hideBackButton]="true" class="UserHeader bb-wp-a" [ngClass]="{'UserHeader--shadow': hasShadow}">
  <ion-buttons *ngIf="hasBackButton && navCtrl.canGoBack()" left>
    <button navPop ion-button icon-only class="UserHeader-btnMenu UserHeader-btnMenu--dark">
      <ion-icon name="ios-arrow-round-back-outline"></ion-icon>
    </button>
    <div class="UserHeader-delimeter"></div>
    <button (click)="goToHome()" ion-button icon-only class="UserHeader-btnMenu UserHeader-btnMenu--dark">
      <ion-icon name="ios-home-outline"></ion-icon>
    </button>
  </ion-buttons>

  <ion-title *ngIf="!hasBackButton && profile" madeLink to="Profile" class="UserHeader-title">
    {{ profile.first_name }} {{ profile.last_name }}
    <span class="UserHeader-subtitle">{{ today | date: 'EEEE, dd LLL' }}</span>
  </ion-title>

  <ion-buttons end>
    <button *ngIf="!hasBackButton" class="UserHeader-btnUser is-withPic" madeLink to="Profile" [style.background-image]="" ion-button icon-only>
      <ion-icon *ngIf="false" name="ios-contact-outline"></ion-icon>
    </button>
    <div class="UserHeader-delimeter"></div>
    <button (click)="openPopover($event)" ion-button icon-only class="UserHeader-btnMenu">
      <ion-icon name="ios-more"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
