// Rewrite ionic’s rules
ion-header ion-icon.back-button-icon.icon {
  color: map-get($colors, dark);
}

.UserHeader {
  // Add padding to be aligned with context.
  // Context padding is 16px + 5px.
  padding-right: 18px;
  padding-left: 14px;

  &.UserHeader--shadow {
    box-shadow: 0 0 18px 18px white;
  }

  .UserHeader-title {
    padding: 0;

    .toolbar-title { // ionic’s navbar title
      text-align: left;
      padding: 0;
      font-size: pxtorem(45);

      @media ($smartphone) {
        padding: 0 12px;
        font-size: pxtorem(36);
      }

      @media ($phone) {
        padding: 0 10px;
        font-size: pxtorem(22);
      }
    }
  }

  .UserHeader-subtitle {
    display: block;
    padding: pxtorem(10) 0 0;
    font-size: pxtorem(34);
    color: rgba(0, 0, 0, 0.4);

    @media ($smartphone) {
      font-size: pxtorem(24);
    }

    @media ($phone) {
      font-size: pxtorem(18);
    }
  }

  .UserHeader-btnUser {
    $button-size: 90px;

    display: inline-block;
    width: $button-size;
    height: $button-size;
    font-size: pxtorem(40);
    vertical-align: middle;
    background: no-repeat center transparent;
    background-size: cover !important;
    border-radius: 50%;

    &.is-withPic {
      border: 1px solid color($colors, color10);
    }

    @media ($smartphone) {
      $button-size: 80px;

      width: $button-size;
      height: $button-size;
    }

    @media ($phone) {
      $button-size: 50px;

      width: $button-size;
      height: $button-size;
    }

    @media ($phone-sm) {
      $button-size: 36px;

      width: $button-size;
      height: $button-size;
    }
  }

  .UserHeader-btnMenu {
    display: inline-block;
    font-size: pxtorem(50);
    color: color($grayscale, 600);
    vertical-align: middle;

    @media ($smartphone) {
      font-size: pxtorem(40);
    }

    @media ($phone) {
      margin: 0;
      font-size: pxtorem(30);
    }

    &.UserHeader-btnMenu--dark {
      color: color($colors, dark);
    }
  }

  .UserHeader-delimeter {
    display: inline-block;
    width: 1px;
    height: 60px;
    margin: 0 10px auto;
    vertical-align: middle;
    background: darken(color($grayscale, 200), 1%);

    @media ($smartphone) {
      height: 50px;
      margin: 0 pxtoem(20) auto;
    }

    @media ($phone) {
      height: 30px;
      margin: 0 pxtoem(10) auto;
    }
  }
}
