<ion-content padding class="p-l-bg">
  <div class="p-l">
    <div class="bb-wp-b">
      <div class="p-l-icon">
        <i class="bb-icon bb-icon-login"></i>
      </div>

      <div class="ion-bb-inputbox" [ngClass]="{'focus': formData.email || formData.password}">
        <ion-item class="ion-bb-inputbox-item">
          <ion-input type="email" placeholder="E-mail address" [(ngModel)]="formData.email"></ion-input>
        </ion-item>

        <ion-item class="ion-bb-inputbox-item">
          <ion-input [type]="passwordType" placeholder="Password" [(ngModel)]="formData.password"></ion-input>

          <button (click)="switchPasswordType()" type="button" ion-button icon-start item-right outline color="bb_orange" class="noborder"><i class="bb-icon bb-icon-show-password"></i></button>
        </ion-item>
      </div>

      <div class="p-l-buttons">
        <button (click)="onLoginOrRegister()" ion-button full color="bb_skin" class="bb-btn-a">
          <span *ngIf="pageType === LoginOrRegisterType.login">Log in</span>
          <span *ngIf="pageType === LoginOrRegisterType.register">Register</span>
        </button>
      </div>

      <div *ngIf="pageType === LoginOrRegisterType.login" class="bb-text">
        Forgot your password again, haven't you? <br>
        <a (click)="resetPassword()" class="bb-link">Reset it to the ground</a>
      </div>
    </div>
  </div>
</ion-content>

