<ion-header class="ion-bb-header">
  <ion-navbar>
  </ion-navbar>
</ion-header>


<ion-content padding class="worktime">
  <made-nav *ngIf="!isProfile" [activePage]="PageNames.Worktime"></made-nav>

  <div class="title">
      Hair is my hustle,
     <p>let's set the schedule</p>
  </div>
  <!--shifts block start -->
  <ion-grid *ngFor="let card of cards" class="workingtime_shifts_block" item-content>
    <ion-row class="wd-row">
      <ion-col>
        <ion-label>Start</ion-label>
        <ion-datetime displayFormat="h:mm a" pickerFormat="h mm A" [(ngModel)]="card.workStartAt"></ion-datetime>
      </ion-col>
      <ion-col>
        <ion-label>End</ion-label>
        <ion-datetime displayFormat="h:mm a" [(ngModel)]="card.workEndAt"></ion-datetime>
      </ion-col>
      <ion-col>
        <ion-label>Duration</ion-label>
        <span>{{ card.getDurationStr() }}</span>
      </ion-col>
    </ion-row>
    <ion-row  class="wd-row">
      <ion-col>
        <!--Week days grid start-->
        <div class="wd_greed">
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let day of card.weekdays">
                <a [ngClass]="{'disabled': !day.enabled}" (click)="toggleWeekday(day)">{{ day.label }}</a>
              </ion-col>
            </ion-row>
          </ion-grid>
      </div>
        <!--Week days grid start-->
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--shifts block end -->
  <h3 class="wd-text">Add another shift</h3>
  
  <div text-center> 
       <button (click)="addNewCard()" ion-button  color="bb_skin" class="bb-btn-a">Add new shift</button>
  </div>
  
  <ion-grid>
    <ion-row class="last_row">
      <ion-col>Hours I slay ‘em</ion-col>
      <ion-col>{{ calcTotals().days }} days</ion-col>
      <ion-col>{{ calcTotals().hoursMins }} </ion-col>
    </ion-row>
  </ion-grid>

  <!-- TODO: This needs to be extracted as a common component -->
  <div text-center>
      <button (click)="saveChanges()" ion-button class="bb-btn-circle">
        <i class="bb-icon bb-icon-confirmation"></i>
      </button>
    </div>
 
</ion-content>
