<ion-header class="ion-bb-header">
  <ion-navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <bb-nav *ngIf="!isProfile" [activePageIndex]="1"></bb-nav>


  <div class="bb-wp">
    <!--hide it for now-->
    <!--<div class="p-sl-top">-->
      <!--<div class="p-sl-top-title">Create</div>-->
      <!--<div class="p-sl-top-title-a">Custom list</div>-->

      <!--<button (click)="resetList()" class="bb-btn-o p-sl-top-reset">-->
        <!--<i class="bb-icon-reset"></i>-->
      <!--</button>-->
    <!--</div>-->


    <div *ngIf="templateSet && templateSet.categories" class="bb-wp-a bb-table">
      <ion-grid>
        <ion-row class="bb-table-head">
          <ion-col col-6>
            Name
          </ion-col>
          <ion-col col-3>
            Price
          </ion-col>
          <ion-col col-3>
            Time
          </ion-col>
        </ion-row>
      </ion-grid>


      <div *ngFor="let category of templateSet.categories">
        <div class="bb-table-title">{{ category.name }}</div>

        <ion-list class="bb-table ion-bb-sliding">
          <ion-item-sliding *ngFor="let service of category.services; let i = index" (click)="openServiceModal(category, service)" class="bb-table-row" #item>
            <ion-item>
              <ion-row class="bb-table-row">
                <ion-col col-6 class="bb-table-row-col">
                  {{ service.name }}
                </ion-col>
                <ion-col col-3 class="bb-table-row-col">
                  ${{ service.base_price }}
                </ion-col>
                <ion-col col-3 class="bb-table-row-col">
                  <span>{{ convertMinsToHrsMins(service.duration_minutes) }}</span>
                  <ion-icon name="ios-arrow-forward-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-item>
            <ion-item-options side="right" class="bb-table-swipe">
              <button (click)="deleteService(category, i)" ion-button color="danger">DELETE</button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>



        <div class="bb-table-row tac">
          <button (click)="openServiceModal(category)" ion-button outline color="bb_violet" class="bb-btn">Add service</button>
        </div>
      </div>
    </div>



    <div class="p-sl-gap">
      <i class="bb-icon-timer p-sl-gap-icon"></i>

      <div class="p-sl-gap-title">Set your gap time between visits</div>

      <ion-range min="0" max="60" step="1" [(ngModel)]="timeGap" color="dark" class="ion-bb-range">
        <div range-right>
          {{ timeGap }} min
        </div>
      </ion-range>
    </div>



    <div class="bb-wp-a">
      <button (click)="saveChanges()" ion-button full color="dark" class="bb-btn-a">{{ isProfile ? 'Save' : 'Next step' }}</button>
    </div>
  </div>
</ion-content>
