page-services-list {
  // p = page
  // -asd = first letter of each word (in this case just -si)
  .p-sl{
    &-title{
      font-size: pxtoem(36);
      margin-bottom: pxtoem(10);
      color: color($colors, dark);
      padding: 0 20px;

      @media ($phone) {
        font-size: pxtoem(29);
      }

      &-a{
        font-size: pxtoem(20);
        color: color($colors, dark);
        padding: 0 20px;
        opacity: 0.4;
      }
    }

    &-gap{
      background: color($colors, white);
      border-radius: 30px;
      margin: pxtoem(60) 0;
      padding: pxtoem(67) pxtoem(60) pxtoem(72);
      text-align: center;
      box-shadow: 0 13px 85px 0 rgba(0, 0, 0, 0.08);

      @media ($smartphone) {
        border-radius: 20px;
      }
      @media ($phone) {
        margin: pxtoem(47) 0;
        padding: pxtoem(43) pxtoem(30) pxtoem(15);
        border-radius: 10px;
      }

      &-icon{
        font-size: pxtoem(60);
        margin: 0 0 pxtoem(7);

        @media ($phone) {
          font-size: pxtoem(50);
          margin: 0 0 pxtoem(6);
        }
      }

      &-title{
        font-size: pxtoem(36);
        margin: 0 0 pxtoem(10);

        @media ($phone) {
          font-size: pxtoem(25);
          margin: 0;
        }
      }
    }
  }
}
