page-services-list {
  // p = page
  // -asd = first letter of each word (in this case just -si)
  .p-sl{
    &-top{
      position: relative;
      text-align: center;
      box-shadow: 0 0 40px #E4E4E4;
      background: #ffffff;
      margin: pxtoem(54) 0 pxtoem(58);
      padding: pxtoem(57) 0 pxtoem(54);
      border-radius: 7px;

      @media ($phone) {
        margin: pxtoem(37) 0 pxtoem(33);
        padding: pxtoem(41) 0 pxtoem(37);
      }


      &-title{
        font-size: pxtoem(25);
        margin: 0 0 pxtoem(5);

        @media ($phone) {
          font-size: pxtoem(21);
        }

        &-a{
          font-size: pxtoem(36);

          @media ($phone) {
            font-size: pxtoem(26);
          }
        }
      }


      &-reset{
        position: absolute;
        right: 11%;
        top: 50%;
        transform: translateY(-50%);
        color: #FF6161;
        font-size: pxtoem(33);

        @media ($phone) {
          font-size: pxtoem(28);
          right: 4%;
        }
      }
    }

    &-gap{
      background: color($colors, bb_violet);
      border-radius: 7px;
      margin: pxtoem(60) 0;
      padding: pxtoem(67) pxtoem(85) pxtoem(72);
      text-align: center;

      @media ($phone) {
        margin: pxtoem(47) 0;
        padding: pxtoem(43) pxtoem(30) pxtoem(15);
      }

      &-icon{
        font-size: pxtoem(60);
        margin: 0 0 pxtoem(7);

        @media ($phone) {
          font-size: pxtoem(50);
          margin: 0 0 pxtoem(6);
        }
      }

      &-title{
        font-size: pxtoem(36);
        margin: 0 0 pxtoem(10);

        @media ($phone) {
          font-size: pxtoem(25);
          margin: 0;
        }
      }
    }
  }
}
