<ion-header class="ion-bb-header">
  <ion-navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <made-nav *ngIf="!isProfile" [activePage]="PageNames.RegisterServices"></made-nav>


  <div class="bb-wp">
    <div class="p-sl-title">Now let’s set your services</div>
    <div class="p-sl-title-a">Just click, we got what you need</div>

    <ion-row class="bb-table-add">
      <ion-col col-3>
      </ion-col>
      <ion-col col-6>
        <button *ngIf="isEmptyCategories" (click)="openServiceModal()" ion-button full color="bb_skin" class="bb-btn-a">
          Add service
        </button>
      </ion-col>
      <ion-col col-3>
      </ion-col>
    </ion-row>

    <div *ngIf="categories" class="bb-table">
      <div *ngFor="let category of categories" [hidden]="category.services.length === 0">
        <div class="bb-table-title">{{ category.name }} <sup class="bb-table-title-sup">{{ category.services.length }}</sup></div>

        <ion-grid>
          <ion-row class="bb-table-head">
            <ion-col col-6>
              Service
            </ion-col>
            <ion-col col-3>
              Duration
            </ion-col>
            <ion-col col-3 text-right>
              Price
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-list class="bb-table ion-bb-sliding">
          <ion-item-sliding *ngFor="let service of category.services; let i = index" (click)="openServiceModal(category, service)" class="bb-table-row" #item>
            <ion-item>
              <ion-row class="bb-table-row">
                <ion-col col-6 class="bb-table-row-col">
                  {{ service.name }}
                </ion-col>
                <ion-col col-3 class="bb-table-row-col">
                  {{ convertMinsToHrsMins(service.duration_minutes) }}
                </ion-col>
                <ion-col col-3 class="bb-table-row-col">
                  <div text-right class="w100p">
                    ${{ service.base_price }}
                  </div>
                </ion-col>
              </ion-row>
            </ion-item>
            <ion-item-options side="right" class="bb-table-swipe">
              <button (click)="deleteService(category, i)" ion-button color="danger">DELETE</button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>



        <ion-row class="bb-table-add">
          <ion-col col-3>
          </ion-col>
          <ion-col col-6>
            <button (click)="openServiceModal(category)" ion-button full color="bb_skin" class="bb-btn-a">
              Add service
            </button>
          </ion-col>
          <ion-col col-3>
          </ion-col>
        </ion-row>
      </div>
    </div>



    <div class="p-sl-gap">
      <i class="bb-icon bb-icon-time-gap p-sl-gap-icon"></i>

      <div class="p-sl-gap-title">How many mins between client bookings?</div>

      <ion-range min="15" max="60" step="5" [(ngModel)]="timeGap" color="dark" class="ion-bb-range">
        <div range-right>
          {{ timeGap }} min
        </div>
      </ion-range>
    </div>



    <div text-center>
      <button (click)="saveChanges()" ion-button class="bb-btn-circle">
        <i class="bb-icon bb-icon-confirmation"></i>
      </button>
    </div>
  </div>
</ion-content>
