.bb{
  &-wp{
    max-width: 640px;
    width: 100%;
    margin: 0 auto;

    &-a{
      max-width: 570px;
      width: 100%;
      margin: 0 auto;
    }

    &-b{
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
    }
  }

  &-btn{
    border-width: 2px;
    border-radius: 7px;
    height: 68px;
    padding: 0 44px;
    font-size: 20px;
    text-transform: unset;

    @media ($phone) {
      font-size: pxtoem(14);
      border-width: 1px;
      height: 30px;
      padding: 0 20px;
    }

    &-circle{
      border-radius: 50%;
      background: none;
      border: 2px solid rgba(181, 149, 191, 0.1);
      padding: 20px;
      width: 174px;
      height: 174px;
      box-shadow: none;
      margin: 0 20px;

      @media ($smartphone) {
        width: 110px;
        height: 110px;
      }

      @media ($phone) {
        width: 90px;
        height: 90px;
      }

      .button-inner{
        background: #000;
        border-radius: 50%;
        width: 79px;
        height: 79px;
        margin: auto;
        font-size: pxtoem(60);

        @media ($smartphone) {
          font-size: pxtoem(40);
          width: 55px;
          height: 55px;
        }

        @media ($phone) {
          font-size: pxtoem(30);
          width: 40px;
          height: 40px;
        }
      }
    }

    &-o{
      background: transparent;
      border: none;
    }


    &-a{
      @extend .bb-btn;
      height: 89px;
      font-size: pxtoem(22);

      @media ($smartphone) {
        height: 60px;
        font-size: pxtoem(20);
      }

      @media ($phone) {
        height: 40px;
        font-size: pxtoem(18);
      }


      &.o_shadow{
        box-shadow: 0 0 31px 6px rgba(255, 197, 150, 0.5);
      }
    }
  }

  &-bg{
    &-gold{
      background: color($colors, bb_gold);
    }
  }

  &-link{
    color: color($colors, bb_orange);
  }

  &-table{
    padding: 0 10px;

    &-head{
      font-size: pxtoem(20);
      color: rgba(0, 0, 0, 0.5);

      @media ($phone) {
        font-size: pxtoem(15);
      }
    }

    &-title{
      font-size: pxtoem(36);
      padding: pxtoem(20) 10px pxtoem(8);

      @media ($phone) {
        font-size: pxtoem(23);
      }
    }

    &-row{
      padding: pxtoem(25) 0;
      border-bottom: 1px solid black;

      @media ($phone) {
        padding: pxtoem(7) 0;
      }


      &-col{
        white-space: normal;
        font-size: pxtoem(24);

        @media ($phone) {
          font-size: pxtoem(12);
        }

        &:first-child{
          padding-left: 0;
        }

        &:last-child{
          padding-right: 0;
          display: flex;
          justify-content: space-between;
        }
      }
    }

    &-swipe{
      .button-inner{
        @media ($phone) {
          font-size: pxtoem(12);
        }
      }
    }
  }

  &-topcircle{
    &:before{
      content: '';
      position: absolute;
      left: 50%;
      top: -60%;
      width: 2560px;
      height: 2560px;
      background: color($colors, bb_gold);
      transform: translate(-50%, -63%);
      border-radius: 50%;

      @media ($smartphone) {
        top: -100%;
        transform: translate(-50%, -64%);
      }

      @media ($phone) {
        top: -100%;
        transform: translate(-50%, -67%);
      }
    }
  }

  &-text{
    font-size: pxtoem(24);
    line-height: pxtoem(26);
  }
}
