.bb{
  &-wp{
    max-width: 640px;
    width: 100%;
    margin: 0 auto;

    &-a{
      max-width: 570px;
      width: 100%;
      margin: 0 auto;
    }

    &-b{
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
    }
  }

  &-btn{
    border-width: 2px;
    border-radius: 7px;
    height: 68px;
    padding: 0 44px;
    font-size: 20px;
    text-transform: unset;
    box-shadow: none;

    @media ($phone) {
      font-size: pxtorem10(14);
      border-width: 1px;
      height: 40px;
      padding: 0 20px;
    }

    &-circle{
      margin: 0 20px;
      width: 110px;
      height: 110px;
      background: none;
      padding: 0;
      box-shadow: 0 0 30px 10px rgba(255, 224, 208, 0.46);
      border-radius: 50%;

      @media ($smartphone) {
        width: 60px;
        height: 60px;
      }

      .button-inner{
        border-radius: 50%;
        width: 110px;
        height: 110px;
        margin: auto;
        font-size: pxtoem(40);
        background: color($colors, bb_skin);
        color: color($colors, dark);

        @media ($smartphone) {
          width: 60px;
          height: 60px;
        }
      }

      &.activated{
        box-shadow: none;
      }

      &.white .button-inner{
        background: color($colors, white);
      }

      &.big{
        width: 300px;
        height: 300px;
        box-shadow: none;
        border: 1px solid color($colors, color16);
        padding: pxtorem10(30);
        box-sizing: content-box;

        @media ($smartphone) {
          width: 180px;
          height: 180px;
        }

        .button-inner{
          width: 300px;
          height: 300px;
          font-size: pxtorem10(140);

          @media ($smartphone) {
            width: 180px;
            height: 180px;
          }
        }

        &.activated{
          background: color($colors, white);
        }
      }
    }

    &-o{
      background: transparent;
      border: none;
    }

    &-a{
      @extend .bb-btn;
      height: 89px;
      box-shadow: none;
      font-size: pxtoem(22);

      @media ($smartphone) {
        height: 60px;
        font-size: pxtoem(20);
      }

      @media ($phone) {
        height: 40px;
        font-size: pxtoem(18);
      }

      &[color="bb_honey"]{
        box-shadow: 0 0 25px 5px rgba(255, 224, 208, 0.46);
      }

      &.black{
        color: #000;
      }

      &.o_shadow{
        box-shadow: 0 0 31px 6px rgba(255, 197, 150, 0.5);
      }
    }
  }

  &-bg{
    &-gold{
      background: color($colors, bb_gold);
    }
    &-orange{
      background: color($colors, color17);
    }
  }

  &-link{
    color: color($colors, bb_orange);
  }

  &-table{
    padding: 0 10px;
    margin-bottom: 0;

    &-head{
      font-size: pxtoem(20);
      color: rgba(0, 0, 0, 0.5);
      padding-top: pxtoem(20);
      border-top: 1px solid rgba(0, 0, 0, 0.1);

      @media ($smartphone) {
        font-size: pxtoem(18);
      }
      @media ($phone) {
        font-size: pxtoem(18);
      }

      &.noborder{
        border: none;
      }
    }

    &-title{
      font-size: pxtoem(36);
      padding: pxtoem(20) 10px pxtoem(10);

      @media ($smartphone) {
        font-size: pxtoem(28);
      }
      @media ($phone) {
        font-size: pxtoem(23);
      }

      &-sup{
        color: rgba(0, 0, 0, 0.3);
        font-size: pxtorem(30);

        @media ($smartphone) {
          font-size: pxtorem(24);
        }
        @media ($phone) {
          font-size: pxtorem(19);
        }
      }
    }

    &-row{
      padding: pxtoem(25) 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      @media ($smartphone) {
        padding: pxtoem(15) 0;
      }
      @media ($phone) {
        padding: pxtoem(7) 0;
      }


      &-col{
        white-space: normal;
        font-size: pxtoem(24);

        @media ($smartphone) {
          font-size: pxtoem(18);
        }
        @media ($phone) {
          font-size: pxtoem(14);
        }

        &:first-child{
          padding-left: 0;
        }

        &:last-child{
          padding-right: 0;
          display: flex;
          justify-content: space-between;
        }
      }
    }

    &-swipe{
      .button-inner{
        @media ($smartphone) {
          font-size: pxtoem(14);
        }
        @media ($phone) {
          font-size: pxtoem(12);
        }
      }
    }

    &-add{
      margin: pxtorem(60) 0 0;

      @media ($smartphone) {
        margin: pxtorem(40) 0 0;
      }
      @media ($phone) {
        margin: pxtorem(30) 0 0;
      }
    }
  }

  &-topcircle{
    &:before{
      content: '';
      position: absolute;
      left: 50%;
      top: -60%;
      width: 2560px;
      height: 2560px;
      background: color($colors, bb_gold);
      transform: translate(-50%, -63%);
      border-radius: 50%;

      @media ($smartphone) {
        top: -100%;
        transform: translate(-50%, -64%);
      }

      @media ($phone) {
        top: -100%;
        transform: translate(-50%, -67%);
      }
    }
  }

  &-text{
    font-size: pxtoem(24);
    line-height: pxtoem(26);
    color: color($colors, color21);
  }
}
