// TODO:
// The code below should be changed.
// We should not tweak body’s font-size in order to achieve diff font sizes for diff media.
// It produces many bad effects:
// – misunderstanding of pxtoem(…): browser always use 16px as base, it adds hidden magic to pxtoem
// – strong cohesion of font-sizes
// – it’s never used this way
// :root styles should be introduced in order to use `rem` units on 16px bases:
// :root { font-size: 16px; }

// rewrite ionic def style
ion-app.md, ion-app.ios, ion-app.wp{
  font-family: 'Arial', sans-serif;
  font-size: 16px;

  @media ($tablet) {
    font-size: 14px;
  }
  @media ($smartphone) {
    font-size: 12px;
  }
  @media ($phone) {
    font-size: 10px;
  }
}

button[color="bb_violet"],
button[color="bb_skin"]{
  color: #000;
}

a { // all links
  color: color($colors, blush);
}

.range-md{
  .range-knob{
    transform: scale(1.8);
    background: #ffffff;

    @media ($phone) {
      transform: scale(1);
    }
  }
  [range-right] {
    margin: 0 0 0 30px;
  }
}

button[color='bb_honey']{
  color: #fff;
}

button.button-ios {
  border-radius: 0;
}

[ion-button].noborder{
  border: none;
}

[no-border]{
  border: none !important;
}

// this need for fixing known bug https://forum.ionicframework.com/t/ion-input-shows-only-the-first-entered-character-on-ios/73107/4
ion-input > input {
  transform: translateZ(0px)
}

// this need for fixing known bug https://github.com/ionic-team/ionic/issues/10629
ion-col.col {
  position: initial;
}

// this need for fixing known bug https://github.com/ionic-team/ionic/issues/7476
ion-datetime {
  position: relative;
}


// wrap and rewrite ionic def style
.ion-bb{
  &-header{
    .toolbar{
      &-title{
        color: #000;
      }

      &-background{
        border-color: transparent;
        background: none;
      }
    }

    &:after{display: none;}
  }

  &-input{
    margin: 20px 0;

    &-prefix{
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      font-size: pxtoem(20);

      @media ($smartphone) {
        font-size: pxtoem(18);
      }
      @media ($phone) {
        font-size: pxtoem(16);
      }
    }


    &.item-block{
      background: transparent;
    }

    ion-input {
      font-size: 1.6rem;
    }

    ion-label{
      text-align: center;
      font-size: 1.5rem !important;
      color: color($colors, dark) !important;
      margin: 0;
    }

    .text-center, .select-text, .text-input {
      text-align: center;
    }

    .select{
      padding-right: 0;
      &-icon {
        position: absolute;
        right: 8px;
        bottom: 6px;
      }
    }
  }

  &-inputbox{
    background: white;
    border-radius: 10px;
    padding: 0 pxtorem(45);
    border: 1px solid transparent;
    transition: all 100ms linear;

    @media ($smartphone) {
      padding: 0 pxtorem(35);
    }

    @media ($phone) {
      padding: 0 pxtorem(25);
    }


    &-item{
      padding: 0;
      font-size: pxtoem(24);

      .item-inner{
        padding: pxtoem(10) 0;
        border-bottom: 1px solid #dedede !important;
        box-shadow: none !important;

        @media ($phone) {
          padding: 0;
        }
      }
      .text-input{
        margin: 13px 0;
      }

      &:last-child{
        .item-inner{
          border-bottom-color: transparent !important;
          box-shadow: none !important;
        }
      }

      button[item-right]{
        margin: 9px 0 9px 0;
        font-size: pxtoem(20);
        padding: 0;

        @media ($smartphone) {
          font-size: pxtoem(18);
        }

        @media ($phone) {
          font-size: pxtoem(16);
        }

        ion-icon{
          padding: 0;
        }
      }
    }


    &.focus{
      box-shadow: 0 0 90px -30px rgba(0, 0, 0, 0.4);
    }
  }

  &-showback{
    .back-button {
      display: block !important;
    }
  }

  &-sliding{
    ion-label{
      margin: 0;
    }
    ion-item-sliding{
      padding: 0 !important;
      border: none !important;
    }
    .item-inner{
      border: none !important;
      padding: 0 !important;
    }
    .item-block{
      padding: 0 !important;
    }
  }

  &-range{
    font-size: pxtoem(24);

    @media ($phone) {
      font-size: pxtoem(18);
    }


    .range{
      &-knob{
        background: color($colors, bb_skin);
      }

      &-bar{
        background: rgba(0, 0, 0, 0.16);
        &-active{
          background: color($colors, bb_skin);
        }
      }
    }
  }

  &-toggle{
    vertical-align: middle;
    display: inline-block;
    padding: 6px;
    height: 24px;
    width: 40px;


    .toggle{
      &-icon {
        background-color: color($colors, color13);
      }

      &-inner {
        top: 2px;
        width: 20px;
        height: 20px;
      }
    }


    &.toggle-checked{
      .toggle{
        &-icon {
          background-color: color($colors, bb_honey);
        }

        &-inner {
          background-color: color($colors, white);
        }
      }
    }
  }
}
