// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// bootstrap-like grayscale colors
$grayscale: (
  100: #F4F4F4,
  200: #ECECEC,
  300: #CCCCCC,
  400: #B8B8B8,
  800: black,
);

$colors: (
  light:      color($grayscale, 100),
  dark:       color($grayscale, 800),
  white:      white,

  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,

  bb_beige:   #FFF1E4,
  bb_violet:  #E6DBE9,
  bb_pink:    #E6DCE9,
  bb_gray:    #F1F1F1,
  bb_honey:   #F2C8A1,
  bb_gold:    #FEF1E4,
  bb_orange:  #FFD8B8,
  bb_skin:    #FFE0D0,
  bb_warn:    #FF6161,

  color1: #f0efef,
  color2: #ffdaca,
  color3: #FFD737,
  color4: #FFF7F4,
  color5: #fbb597,
  color6: #707070,
  color7: #f7f7f7,
  color8: #d6b2ff,
  color9: #a6a3b0,
  color10: #A4B6C0,
  color11: #FBC69C,

  color21: #9A9A9A,
  color22: #ffc0a5,
  color12: #A6A6A6,
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


// Typography
// --------------------------------------------------
@import "./functions";

// for 16px base
// $t-h1:    pxtorem(36) !default;
// $t-h2:    pxtorem(24) !default;
// $t-h3:    pxtorem(18) !default;
// $t-h4:    pxtorem(15) !default;
// $t-base:  pxtorem(12) !default;
// $t-small: pxtorem(10) !default;

// for 10px base
$t-h1:    pxtorem10(36) !default;
$t-h2:    pxtorem10(24) !default;
$t-h3:    pxtorem10(18) !default;
$t-h4:    pxtorem10(15) !default;
$t-base:  pxtorem10(12) !default;
$t-small: pxtorem10(10) !default;


// Media
// --------------------------------------------------

$tablet: 'max-width: 600px';
$smartphone: 'max-width: 500px';
$phone: 'max-width: 415px';

