<ion-header class="ion-bb-header">
  <ion-navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <made-nav *ngIf="!isProfile" [activePage]="PageNames.Discounts"></made-nav>


  <div *ngIf="discounts" class="bb-wp">
    <div *ngIf="discounts.weekdays" class="bb-wp-a bb-table">
      <div class="bb-table-title">Ok gorgeous, set your custom pricing</div>

      <ion-grid>
        <ion-row class="bb-table-head">
          <ion-col col-9>
            Day
          </ion-col>
          <ion-col col-3>
            Discount
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list class="bb-table ion-bb-sliding">
        <ion-item *ngFor="let weekday of discounts.weekdays; let index = index" (click)="onDiscountChange('weekday', index)">
          <ion-row class="bb-table-row">
            <ion-col col-9 class="bb-table-row-col">
              {{ weekday.weekday_verbose }}
            </ion-col>
            <ion-col col-3 class="bb-table-row-col">
              <span *ngIf="!weekday.discount_percent" class="inactive">None</span>
              <span *ngIf="weekday.discount_percent">{{ weekday.discount_percent }}%</span>
              <ion-icon name="ios-arrow-forward-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </div>



    <div *ngIf="discounts.first_booking >= 0 || discounts.rebook_within_1_week >= 0 || discounts.rebook_within_2_weeks >= 0"
      class="bb-wp-a bb-table">
      <div class="bb-table-title">More custom pricing</div>

      <ion-list class="bb-table ion-bb-sliding">
        <ion-item *ngIf="discounts.first_booking >= 0" (click)="onDiscountChange(DiscountsTypes.first_booking, 0, 'First booking')">
          <ion-row class="bb-table-row">
            <ion-col col-9 class="bb-table-row-col">
              First booking
            </ion-col>
            <ion-col col-3 class="bb-table-row-col">
              <span *ngIf="!discounts.first_booking" class="inactive">None</span>
              <span *ngIf="discounts.first_booking">{{ discounts.first_booking }}%</span>
              <ion-icon name="ios-arrow-forward-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item *ngIf="discounts.rebook_within_1_week >= 0" (click)="onDiscountChange(DiscountsTypes.rebook_within_1_week, 0, 'Revisit within 1 week')">
          <ion-row class="bb-table-row">
            <ion-col col-9 class="bb-table-row-col">
              Revisit within 1 week
            </ion-col>
            <ion-col col-3 class="bb-table-row-col">
              <span *ngIf="!discounts.rebook_within_1_week" class="inactive">None</span>
              <span *ngIf="discounts.rebook_within_1_week">{{ discounts.rebook_within_1_week }}%</span>
              <ion-icon name="ios-arrow-forward-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item *ngIf="discounts.rebook_within_2_weeks >= 0" (click)="onDiscountChange(DiscountsTypes.rebook_within_2_weeks, 0, 'Revisit within 2 weeks')">
          <ion-row class="bb-table-row">
            <ion-col col-9 class="bb-table-row-col">
              Revisit within 2 weeks
            </ion-col>
            <ion-col col-3 class="bb-table-row-col">
              <span *ngIf="!discounts.rebook_within_2_weeks" class="inactive">None</span>
              <span *ngIf="discounts.rebook_within_2_weeks">{{ discounts.rebook_within_2_weeks }}%</span>
              <ion-icon name="ios-arrow-forward-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </div>

  </div>

  <!-- TODO: This needs to be extracted as a common component -->
  <div text-center>
    <button (click)="saveChanges()" ion-button class="bb-btn-circle">
      <i class="bb-icon bb-icon-confirmation"></i>
    </button>
  </div>
</ion-content>
