<div (click)="close(false)" class="da-close"></div>
<div class="da">
  <div class="bb-wp-a">
    <i class="bb-icon-discounts da-icon"></i>

    <div class="da-title">
      We know you got this, but custom pricing is better
    </div>

    <div class="da-text">
      Stylists get 3x more bookings when they add custom offers and adjust daily prices
    </div>


    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button (click)="close(false)" ion-button full color="white" class="bb-btn-a">Go back</button>
        </ion-col>
        <ion-col col-6>
          <button (click)="close(true)" ion-button full color="dark" class="bb-btn-a">No Discounts</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
