<div (click)="close(false)" class="da-close"></div>
<div class="da">
  <div class="bb-wp-a">
    <i class="bb-icon-discounts da-icon"></i>

    <div class="da-title">
      It’s better to add discounts
    </div>

    <div class="da-text">
      We know you are aware of deccisions you make.
      But we are aware of that there are 3 times more
      bookings to stylists with discounts.
    </div>


    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button (click)="close(false)" ion-button full color="white" class="bb-btn-a">Get back</button>
        </ion-col>
        <ion-col col-6>
          <button (click)="close(true)" ion-button full color="dark" class="bb-btn-a">No Discounts</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
