page-appointment-date {
  .AppointmentDate-dates {
    position: relative;
  }

  .DateCard {
    padding: pxtorem10(14) pxtorem10(25);
    margin-bottom: pxtorem10(18);
    border-radius: 5px;
    box-shadow: 0 4px 40px color($grayscale, 200);

    .DateCard-price {
      margin-bottom: pxtorem10(6);
      font-size: $t-h2;
    }

    .DateCard-day {
      font-size: $t-base;
      color: color($grayscale, 500);
    }
  }
}
