page-appointment-date {
  .AppointmentDate-dates {
    position: relative;
  }

  .DateCard {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: pxtorem10(14) pxtorem10(25);
    margin-bottom: pxtorem10(18);
    border-radius: 5px;
    box-shadow: 0 4px 40px color($grayscale, 200);

    .DateCard-price {
      margin-bottom: pxtorem10(6);
      font-size: $t-h2;
    }

    .DateCard-day {
      font-size: $t-h3;

      small {
        display: block;
        font-size: $t-base;
      }
    }
  }
}
