<ion-header class="bb-wp-a ion-bb-header"><ion-navbar></ion-navbar></ion-header>

<ion-content padding>
  <div *ngIf="days" class="AppointmentDate-dates">
    <div *ngFor="let day of days" class="DateCard" (click)="select(day)">
      <div class="DateCard-day">
        {{ moment(day.date).format('D MMM') }}
        <small>{{ moment(day.date).format('dddd') }}</small>
      </div>
      <div class="DateCard-price" [style.color]="this.getPriceColor(day.price)">${{ day.price.toFixed(0) }}</div>
    </div>
  </div>
</ion-content>
